<body class="horizontal-menu-page">
<section>
  <%= partial 'layouts/nav' %>
  <!--body wrapper start-->
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel" style="padding: 10px">
            <h1 class="text-center"><%= @news.title %></h1>
            <h4 class="text-center" style="margin-bottom: 20px">阅读数:xxx</h4>
            <div class="news-content">
              <%= @news.content.html_safe %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!--body wrapper end-->
  <%= partial 'layouts/footer' %>
</section>
</body>