<div class="form-group ">
  <label class="col-sm-2 control-label">推送内容</label>
  <div class="col-sm-10">
    <%= f.text_area :message, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</div>

<div class="form-group ">
  <!--<label class="col-sm-2 control-label">推送渠道</label>-->
  <!--<div class="col-sm-10">-->
    <!--<%= f.select :channel_id, :options => Push.get_editions.invert, :class => 'form-control input-xlarge input-with-feedback', :include_blank => true %>-->
  <!--</div>-->
  <label class="col-sm-2 control-label">推送渠道</label>
  <div class="col-sm-10">
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="option1" name="push[editions]"> 全部
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="1" name="push[editions]"> 学员版
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="2" name="push[editions]"> 教练版
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="3" name="push[editions]"> 驾校版
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="4" name="push[editions]"> 门店版
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="" value="5" name="push[editions]"> 代理渠道版
    </label>
  </div>
</div>

<div class="form-group ">
  <label class="col-sm-2 control-label">推送条件</label>
  <div class="col-sm-10">
    <!--<%= f.text_field :condition, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true%>-->
  </div>
</div>

<div class="form-group ">
  <label class="col-sm-2 control-label">推送时间</label>
  <div class="col-sm-10">
    <!--<%= f.date_field :push_at, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true ,:placeholder => '请输入11位手机号码' ,:required => 'required',:pattern => "[0-9]{11}" %>-->
  </div>
</div>


