<body class="horizontal-menu-page">
<section>
  <%= partial 'layouts/nav' %>

  <!--body wrapper start-->
  <div class="wrapper">
    <div class="container-fluid" style="margin-bottom:20px">
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <!--<div class="panel-heading">-->
              <!--<h3 class="panel-title">修改密码</h3>-->
            <!--</div>-->
            <div class="panel-body">
              <form class="form-horizontal" action="/web/edit_psd/change" method="post">
                <% if @result == 'success'%>
                    <div class="alert alert-success fade in">修改成功<button type="button" class="close" data-dismiss="alert">×</button></div>
                <% elsif @result == 'error' %>
                      <div class="alert alert-danger fade in">修改失败<button type="button" class="close" data-dismiss="alert">×</button></div>
                <% end %>
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label">原密码</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="old_password" placeholder="请输入原密码">
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label">新密码</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="new_password" placeholder="请输入新密码">
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label">确认密码</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="confirm_password" placeholder="请确认新密码">
                  </div>
                </div>

                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-success" value="保存">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--body wrapper end-->
  <!--footer section start-->
  <%= partial 'layouts/footer' %>

  <!--footer section end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
</body>
