<body class="horizontal-menu-page">
<section>
  <%= partial 'layouts/nav' %>

  <!--body wrapper start-->
  <div class="wrapper">
    <p>驾校后台首页</p>
  </div>
  <!--body wrapper end-->
  <!--footer section start-->
  <footer class="sticky-footer">
    2016(C) www.tekala.cn
  </footer>
  <!--footer section end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="../javascripts/jquery-1.11.0.min.js"></script>
<script src="../javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../javascripts/jquery-migrate-1.2.1.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/modernizr.min.js"></script>
<script src="../javascripts/jquery.nicescroll.js"></script>
<!--common scripts for all pages-->
<script src="../javascripts/scripts.js"></script>
</body>
