<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <%=image_tag '../../images/tekala_logo.png', :class => 'photo' ,:style => "width: 90px;margin-top: 6px;"%>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/web/">首页</a></li>
        <li><a href="">财务管理</a></li>
        <li><a href="/web/signup">报名管理</a></li>
        <li><a href="/web/order">约车管理</a></li>
        <li><a href="/web/news_management" >新闻管理</a></li>
        <li><a href="/web/push">推送管理</a></li>
        <li><a href="/web/roles">人员管理</a></li>
        <li><a href="/web/import">导入功能</a></li>
        <li><a href="#">使用帮助</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Role.get(session[:role_id]).school.name %> <%= current_account.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/web/edit_psd">修改密码</a></li>
            <li><a href="<%= url(:login, :logout)%>">登出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>