<body class="horizontal-menu-page">

<section>
  <%= partial 'layouts/nav' %>

  <!--body wrapper start-->
  <div class="wrapper">
    <div class="container-fluid" style="margin-bottom:20px">
      <div class="row">
        <div class="col-lg-1">
          <select class="form-control ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

    </div>
    <div class="col-lg-6" >
      <section class="panel" style="height:320px">
        <table class="table table-condensed" style="height:280px">
          <thead>
          <tr style="padding:0">
            <th>角色</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>上次登录时间</th>
            <th>操作</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>管理员</td>
            <td>sam</td>
            <td>13800138000</td>
            <td>2016-08-05 20:20</td>
            <td>修改密码</td>
            <td>删除</td>
          </tr>
          <tr>
            <td>管理员</td>
            <td>sam</td>
            <td>13800138000</td>
            <td>2016-08-05 20:20</td>
            <td>修改密码</td>
            <td>删除</td>
          </tr>
          <tr>
            <td>管理员</td>
            <td>sam</td>
            <td>13800138000</td>
            <td>2016-08-05 20:20</td>
            <td>修改密码</td>
            <td>删除</td>
          </tr>
          <tr>
            <td>管理员</td>
            <td>sam</td>
            <td>13800138000</td>
            <td>2016-08-05 20:20</td>
            <td>修改密码</td>
            <td>删除</td>
          </tr>
          <tr>
            <td>管理员</td>
            <td>sam</td>
            <td>13800138000</td>
            <td>2016-08-05 20:20</td>
            <td>修改密码</td>
            <td>删除</td>
          </tr>
          </tbody>
        </table>
        <p style="padding:10px">每页5条</p>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-heading">添加用户</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">姓名</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="请输入姓名">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">手机</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="请输入手机号码">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">角色</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="请输入角色权限">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">说明:默认密码是123456</div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <input type="submit" value="保存" class="btn btn-success">
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
  <!--body wrapper end-->

  <!--footer section start-->
  <footer class="sticky-footer">
    2016(C) www.tekala.cn
  </footer>
  <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../javascripts/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="../javascripts/admin/scripts.js"></script>

</body>